:root {
  --primary: #1888ff;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
  background-color: rgba(97, 212, 247, 0.883);;
}

.btn:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  /* background-color: transparent; */
  color: #fff;
  border-radius: 4px;
  border: 2px solid var(--black);
  transition: all 0.3s ease-out;
}
